extends layout

block content
  h1= title

  a(href="/new") Add a new message

  each message in messages
    div(style='background-color:white; margin:20px; padding:20px; width: 300px; box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.1);')
      h2 #{message.user}
      p #{message.text}
      p Sent #{message.added}